/* :root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent: #2196F3;
} */

html {
    box-sizing: border-box;
} 
*,
*::before,
*::after {
    box-sizing: inherit;
}

body { 
    font family: Roboto; serif;
    background-color: #E5E5E5;
    color: #000;
    letter-spacing: 0.03em;
    margin: 0;
}

.header {
    background-color: #FFFFFF;
    
    
}

.contener {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
    

background: #FFFFFF;
}

.contener-feature {
    padding-top: 94px;
    padding-bottom: 94px;
}


.logo {
    color: black;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 85px;
}
.accent {
    color: #2196F3;
}

.site-nav {
display: flex;
}

.site-nav .item {
    margin-right: 50px;

}
.site-nav .item:last-child {
    margin-right: 0px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.site-nav-link {
    display: flex;
    margin-left: auto;

}
.site-nav-link .item{
    margin-right: 50px;
}
.site-nav-link .item + .item {
    margin-left: 0px;
}

.header .main-nav {
    display: flex;
    align-items: center;
}

.link:hover,
.link:focus {
color: #2196F3;
}

.link {
    color: #757575;
    text-decoration: none;
    
}
 ul {
    list-style: none;
    
 }

 .list {
    padding: 0px;
    margin: 0px;
 }

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
   }
h2 {
    font-family: Roboto;
    font-style: 400;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.43;
    letter-spacing: 0.03em;
}
      

 h3 {
    font-family: Roboto;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
 }

h4 {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;

color: #212121;

}


 p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
    
}
.hero {
    text-align: center;
}
.section-feature{
    background-color: #E5E5E5;


}
.contener-feature {
    display: flex;
    /* flex-wrap: wrap;
    width: 100px; */
}
.contener-feature
.feation-titl {
margin-bottom: 0px;
}

.feation-text {
margin-bottom: 0px;
}

.we-work-titl {
    margin-bottom: 0px;
}
.section-feature-list {

}

.section-we-work-title{
    margin-bottom: 0px;
}
.section-we-work{

}

.section-they-comand{

}
.section-clients{

}

.footer {
    background-color: black
}


.section-footer .link {

}
.section-footer-adress{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
}

.footer-adress-span {
font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

 
.btn {
display: inline-block;
padding: 10px 32px;
background-color:#2196F3;
color: #000;
text-decoration: none;
border-radius: 4px;
text-align: center;
min-width: 200px;
height: 50;
border: 1px  solid transparent;

}

/* .btn-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: ivory;
    vertical-align: middle;
} */

    /* font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
} */
    /* color: white;
    background-color: #2196F3;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em; */
}
 
.btn:hover,
.btn:focus {
    background-color: tomato;
    color: green;
    border: purple;
 }

/* .btn {
    text-decoration: none; 
} */

.foot-adress-span {
    color: #757575;
}

.foot-adress-span:hover,
.foot-adress-span:focus {
    color: #2196F3;
    text-decoration: none;
}


/* .button.primary {
    background-color: blue;
    color: white;
}
.button.secondary {
    background-color: white;
    color: blue;
}

/*  */
/* .link{
    list-style: none;
 }
   */
  
  /* Оформление таблицы */

 
/* pre::selection {
  color: #ffffff;
  background-color: #3f51b5;
} */